.admin-page{
  display: flex;
  flex-direction: row;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  
}
.admin-sidebar{
  background-color: black;
  width: 20%;
 position: relative;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  justify-content: space-between;
}
.admin-sidebar-top{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.admin-sidebar-text{
  color: white;
  margin-top: 10%;
  font-size: large;
  font-weight: bold;
  margin-bottom: 20%;
  
}
.admin-sidebar-menu{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}
.admin-content-payment{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #DFDFDF;
  align-items: center;
  
}
.admin-content-payment-header{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1%;
  height: 8%;
  width: 98%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.admin-content-payment-header-text{
  padding-left: 2%;
  font-size: larger;
  font-weight: bolder;
}
.admin-content-payment-header-text2{
  font-size: larger;
  font-weight: bolder;
  margin-right: 10%;
}
.admin-conteet-payment-header-right{
  padding-right: 2%;
  display: flex;
  flex-direction: row;
}
.admin-content-payment-user-bg{
  background-color: white;
  margin-top: 2%;
  height: 85%;
  width: 98%;
  border-radius: 10px;
  overflow: auto;
}
.admin-content-payment-user{
  background-color: #F8EDB9;
  width: 98%;
  height: 10%;
  margin: 1%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-content-payment-user2{
  background-color: #DFDFDF;
  width: 98%;
  height: 10%;
  margin: 1%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-content-payment-user-left{
  width: 98%;
  height: 10%;
  display: flex;
  align-items: center;
}
.imageUser{
  margin-left: 1%;
  width: 4%;
  filter: drop-shadow(5px 5px 5px  #919191);
}
.admin-content-payment-user-text{
  margin: 3%;
  font-size: 1.5vh;
  color: #393939;
}
.admin-content-payment-user-text2{
  color: #393939;
  font-size: 1.5vh;
}
.statusUserPayment{
  display: flex;
  flex-direction: row;
}
.admin-content-movie-header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  
}
.admin-text-logout{
  color: white;
  margin-bottom: 10%;
  cursor: pointer;
}
.admin-text-logout:hover{
  color: #F5CE00;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .admin-content-payment-user-left{
    width: 98%;
    height: 10%;
    display: flex;
    align-items: center;
  }
  .imageUser{
    margin-left: 1%;
    width: 4%;
    filter: drop-shadow(5px 5px 5px  #919191);
  }
  .admin-content-payment-user-text{
    margin: 3%;
    font-size: 1.2vh;
    color: #393939;
  }
  .admin-content-payment-user-text2{
    color: #393939;
    font-size: 1.2vh;
  }
  .statusUserPayment{
    display: flex;
    flex-direction: row;
   
  }
  .admin-content-movie-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    
  }

}