.admin-movie{
    width: 98%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: auto;
    border-radius: 10px;
}

.admin-movie-popup{
    width: 98%;
    height: 85%;
    margin-top: 2%;
    border-radius: 10px;
}

.admin-movie-layout{
    width: 100vh;
    height: 100vh;
}